.Home{
    background-image: url("./solidarité.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; /* 100% of the viewport height */
    margin: 0; /* Remove default margin to cover the whole page */
    padding: 0; /* Remove default padding to cover the whole page */

}
.seo-page-form-input{
-webkit-text-size-adjust: 100%;

-webkit-font-smoothing: antialiased;
position: absolute;
top: 400px;
left: 500px;
border: 20px;
outline: 50;
display: block;
width:290px;
padding: 9px;
border-radius: 10px ;
color: #fbfbfd;

font-size: 16px;
display: table-cell;

font-family: 'Open Sans';

}
.seo-page-form-button{
 -webkit-text-size-adjust: 100%;
position: relative;
bottom:28px;
left: 206px;
-webkit-font-smoothing: antialiased;
letter-spacing: -.01em;
font-size: 14px;

font-family: open sans;
display: table-cell;
vertical-align: center;
width: auto;}
.bt{
    height: 2;
      margin-top: auto;
      height: 50px;
}

#intro {
  background-image: url("https://mdbootstrap.com/img/new/fluid/city/018.jpg");
  height: 100vh;
}

/* Height for devices larger than 576px */
@media (min-width: 992px) {
  #intro {
    margin-top: -58.59px;
  }
}

.navbar .nav-link {
  color: #fff !important;
}
