.button {
  font-size: 16px;
  padding: 12px 24px;
  margin: 12px 0;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


.btn-group{
  display: flex;
  left: 100px;
}
.bg-body-tertiary{ 
  background: transparent  !important;
}