.button {
  font-size: 16px;
  padding: 12px 24px;
  margin: 12px 0;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color:blanchedalmond;
 
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}


.btn-group{
  display: flex;
  left: 100px;
}
.link{
  color: blue;
}
.body{ 
  background: transparent  !important;
  
}
.bg-body-tertiary{
  --bs-bg-opacity: 0 !important ;
  color: blue;
}
.nav-link{
  color: rgb(19, 18, 18) !important ;
  font-weight: bold;
}